extends ../layout

block content

  h1(class="page-header") Check out all my awesome teas!

  table(class="table")
    thead
      th Name
      th Country
      th Price
      th Reorderable?
    tbody
      each tea in teas
        tr
          td= tea.name
          td #{tea.country}
          td= tea.price
          td= tea.reorderable ? "Yes!" : "No :("
